<div class="content-wrapper">
    <div class="card">
      <div class="container">
        <mat-horizontal-stepper>
          <mat-step label="Tournament Basic Information"></mat-step>
          <mat-step label="Tournament Images"></mat-step>
          <mat-step label="Tournament Rules"></mat-step>
        </mat-horizontal-stepper>





        <form [formGroup]="service.TournamentValues" autocomplete="off">
              <ng-template matStepLabel>Tournament</ng-template>
                <div class="card">
                <div class="card-body">
                  <div class="row">

                     <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <label for="tournamentName">Tournament Name</label><br>
                      <input type="text" name="TournamentName"class="form-control" formControlName="TournamentName"  required>
                     </div>



                     <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <label for="groundName">Ground Name</label><br>
                      <select  (change)="onChange($event.target.value)" >  
                        <option value="0">--Select--</option> 
                        <option *ngFor="let Name of GroundNameList"                        
                          value={{Name.id}}>  {{Name.groundName}}
                         </option> 
                         </select>
              
                    </div>

                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <label for="organizerName">Organizer Name</label><br>
                      <input type="text"name="organizerName" formControlName="OrganizerName" class="form-control">
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <label for="organizerName2">Organizer Name2</label><br>
                      <input type="text"name="organizerName2" formControlName="OrganizerName2" class="form-control">
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <label for="organizerName3">Organizer Name3</label><br>
                      <input type="text"name="organizerName3" formControlName="OrganizerName3" class="form-control">
                    </div>

                     <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <label for="entityName">Entity Name</label><br>
                      <input type="text"name="entityName" formControlName="EntityName" class="form-control">
                    </div>
     
                     <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <label for="contactNo1">Contact No1</label><br>
                      <input type="text"name="contactNo1" formControlName="ContactNumber1" class="form-control">
                    </div>

                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <label for="contactNo2">Contact No2</label><br>
                      <input type="text"name="contactNo2" formControlName="ContactNumber2" class="form-control">
                    </div>

                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <label for="contactNo3">Contact No3</label><br>
                      <input type="text"name="contactNo3" formControlName="ContactNumber3" class="form-control">
                    </div>

                      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <label for="emailId1">Email Id1</label><br>
                      <input type="text"name="emailId1" formControlName="EmailId1" class="form-control">
                    </div>

                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <label for="emailId2">Email Id2</label><br>
                      <input type="text"name="emailId2" formControlName="EmailId2" class="form-control">
                    </div>

                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <label for="emailId3">Email Id3</label><br>
                      <input type="text"name="emailId3" formControlName="EmailId3" class="form-control">
                    </div>

                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <label for="gstin">GSTIN</label><br>
                      <input type="text"name="gstin" formControlName="Gstin" class="form-control">
                    </div>





                     <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                        <label for="location">Location</label><br>
                        <input type="text"name="location" formControlName="location" class="form-control">
                      </div>

                      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                        <label for="startDateTournament">Start Date Tournament</label><br>
                    <input type="date"name="startDateTournament" formControlName="StartDateOfTournament" class="form-control">
                      </div>

                       <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                        <label for="lastDateOfRegistration">Last Date Of Registration</label><br>
                        <input type="date"name="lastDateOfRegistration" formControlName="LastDateOfRegistration" class="form-control">
                       </div>

                       <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                        <label for="fullPricing">Full Pricing</label><br>
                        <input type="text"name="fullPricing" formControlName="FullMatchPricing" class="form-control">
                      </div>

                       <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                        <label for="perPricing">Per Pricing</label><br>
                        <input type="text"name="perPricing" formControlName="PerMatchPricing" class="form-control">
                      </div>

                       <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                        <label for="tournamentDescription">Tournament Description</label><br>
                        <input type="text"name="tournamentDescription" formControlName="TournamentDescription" class="form-control">
                      </div>
                      
                       <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                        <label for="FormatDescription">Format Description</label><br>
                        <input type="text"name="FormatDescription" formControlName="FormatDescription" class="form-control">
                      </div>
                      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                        <label for="MatchAward">Match Award</label><br>
                        <input type="text"name="MatchAward" formControlName="MatchAward" class="form-control">
                      </div>
                      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                        <label for="SeriesAward">Series Award</label><br>
                        <input type="text"name="SeriesAward" formControlName="SeriesAward" class="form-control">
                      </div>
                      
                      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                        <label for="SeriesAward">Location</label><br>
                        <input type="text"name="Location" formControlName="Location" class="form-control">
                      </div>
                      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                        <label for="SeriesAward">Google Location</label><br>
                        <input type="text"name="GoogleLocation" formControlName="GoogleLocation" class="form-control">
                      </div>
                      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                        <label for="SeriesAward">Distance from Location</label><br>
                        <input type="text"name="DistnaceFromLocation" formControlName="DistnaceFromLocation" class="form-control">
                      </div>

                    

                      <div class="col-md-12">
                        <label for="AmenitiesandFeatures">Amenities and Features </label><br>
                        <div class="row">
                          <div class="col-md-4" *ngFor="let item of AmenitiesList">
                            <input class="check-space"  [value]="item.id" type="checkbox" id="{{item.id}}" [checked]="item.isSelected"/>
                               <label for="item.id"><img class="check-space" width="20" height="30" src="{{item.imagePath}}">{{item.amenitiesDescription}}</label>
                         </div>
                        </div>
                      </div>


                      <div class="col-md-12">
                        <label for="GroundImages">Ground Images </label><br>
                        <div class="row">
                          <div class="col-md-4" *ngFor="let item of ImageList">
                            <input class="check-space"  [value]="item.id" type="checkbox" id="{{item.id}}" [checked]="item.isSelected"/>
                            <label for="item.id"><img class="check-space" width="20" height="30" src="{{item.imagePath}}"></label>
                         </div>
                        </div>
                      </div>


                      <div class="col-md-12">
                        <label for="AmenitiesandFeatures">Slots Name </label><br>
                        <div class="row">
                          <div class="col-md-4" *ngFor="let item of SlotList">
                             <label for="item.id">{{item.slotName}}
                                    <br>
                                    FromTime
                                    {{item.fromTime}} 
                             </label>
                           </div>
                        </div>
                      </div>

                      <div class="col-md-12">
                      <div class="form-group" style="text-align:right">
                        <button type="submit" class="btn  btn-primary" (click)="AddTournament()">
                        Add Tournament
                        </button>
                      </div>
                    </div>



                     </div>
                </div>
            </div> 
           </form>
        </div>
    </div>
</div>