<div class="content-wrapper">
    <div class="container">

<h1>Ground List</h1>    
<div class="card">    
  <div class="card-body pb-0">    
    <div class="row">    
      <div class="col-md-12">    
        <div class="card">    
          <div class="card-header">    
            Ground List    
          </div>    
          <div class="card-body position-relative">    
            <div class="ag-theme-balham" style="height:550px;">    
              <wepitch-grid
               *ngIf="AgLoad" 
               [ColumnDefs]="this.ColumnDefs"
                [RowData]="this.RowData"    
                [IsColumnsToFit]="true">    
              </wepitch-grid>    
            </div>    
          </div>    
        </div>    
      </div>    
    </div>    
  </div>    
</div> 

</div>
</div>