<div class="content-wrapper">
  <div class="card">
    <div class="container">
      <form [formGroup] = "SettingForm" autocomplete="off" (ngSubmit)="onSubmit()">
        <h1>Settings</h1>

 
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                    <label for="GST">GST</label><br>
                    <input type="text" formControlName="gstCharges"  class="form-control">
                  </div>
                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                    <label for="ConvenienceCharge">Convenience Charge</label><br>
                    <input type="text"  formControlName="convenienceCharges" class="form-control"> 
                    <br>
                    <button type="submit" class="btn btn-primary btn-lg float-right">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          <!-- </app-stteper> -->
        </form>
    </div>
  </div>
</div>