<div class="content-wrapper">
  <div class="card">
    <div class="container">
      <!-- [footerLabelStrings]="fotterLablels"
      [activeStep]="activeStep" -->
      <form [formGroup]="service.store" autocomplete="off">
        <mat-horizontal-stepper #stepper (onStepChnaged)="stepChanged($event)" [selectedIndex]="activeStep">
          <!-- Step - 1 GroundDetails-->
          <mat-step>
            <ng-template matStepLabel>Basic Ground Information</ng-template>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                    <label for="fname">Ground Name</label><br>
                    <input type="text" name="GroundName" formControlName="groundName" class="form-control" required>
                  </div>
                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                    <label for="lname">Ground Entity Name</label><br>
                    <input type="text" formControlName="groundEntityName" class="form-control">
                  </div>
   
                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                    <label for="GroundOwner">Ground Owner Name</label><br>
                    <input type="text"name="groundOwner" formControlName="groundOwner" class="form-control">
                  </div>
                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"><br>
                    <label for="GroundOwner2">Ground Owner2</label><br>
                    <input type="text"name="groundOwner2" formControlName="groundOwner2" class="form-control">
                  </div>
                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"><br>
                    <label for="owneremailid">Owner Email Id</label><br>
                    <input type="text"name="owneremailid" formControlName="owneremailid" class="form-control">
                  </div>
                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"><br>
                    <label for="owner2emailid">Owner 2 Email Id</label><br>
                    <input type="text"name="owner2emailid" formControlName="owner2emailid" class="form-control">
                  </div>

                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"><br>
                    <label for="contactNo">Contact No.</label><br>
                    <input type="text" name="contactNo" formControlName="contactNo" class="form-control">
                  </div>


                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"><br>
                    <label for="lname">GSTIN</label><br>
                    <input type="text" name="GSTIN" class="form-control" formControlName="gstin">
                  </div>

                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"><br>
                    <label for="lname">Discount Rate in (%)</label><br>
                    <input type="text" name="discount" class="form-control" formControlName="discount">
                  </div>


                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"><br>
                    <label for="fname">Views Count</label><br>
                    <input type="number" name="viewsCount" formControlName="viewsCount"  class="form-control">
                  </div>

                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"><br>
                    <label for="fname">Google Location</label><br>
                    <!-- <input type="text"  name="GoogleLocation" #GoogleLocation="ngModel" [(ngModel)]="service.formData.GoogleLocation" class="form-control"> -->
                    <input class="form-control" id="googleLocation"
                      formControlName="googleLocation" (focus)="geolocate('googleLocation')" type="text" />
                  </div>
                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"><br>
                    <label for="fname">Landmark</label><br>
                    <input class="form-control" id="landmark"
                      formControlName="distanceFromLocation" (focus)="geolocate('landmark')" type="text" />
                  </div>

                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"><br>
                    <label for="fname">Rating</label><br>
                    <input type="number" name="Rating" class="form-control" formControlName="rating">
                  </div>
                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"><br>
                    <label for="fname">Likes Count</label><br>
                    <input type="number" name="likesCount" class="form-control" formControlName="likesCount">
                  </div>

                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"><br>
                    <label for="fname">Flood Lights</label><br>
                    <input type="radio" class="check-space" id="Yes" formControlName="isFloodLights"
                      name="isFloodLights" value=true (change)="setFloodLights($event)">
                    <label for="Yes">Yes</label> &nbsp; &nbsp;
                    <input type="radio" class="check-space" id="No" name="isFloodLights" value=false
                      formControlName="isFloodLights" (change)="setFloodLights($event)">
                    <label for="No">No</label><br>
                  </div>
                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4"><br>
                    <label for="lname">Ground Address</label><br>
                    <textarea class="form-control" rows="3"  formControlName="groundAddress" name="groundAddress"></textarea>
                  </div>

                   

                  <!-- </div> -->
                </div>

                <div class="row">
                   </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4 ">
                        <label for="Amenities" class="col-xs-4 amenities-topspace">Amenities And Features</label>
                        
                      </div>
                     
                      <div class="col-md-4"></div>
                       <div class="col-md-4">
                         <button class="btn  btn-primary" [routerLink]="['/addAmenities']">
                          <span>Add/Edit Amenities</span>
                        </button>
                      </div>        
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-4" *ngFor="let item of (amenitiesList | amenity: service.store?.value?.amenitiesList)">
                            <input class="check-space" (change)="onAmenitiesChange($event)" [value]="item.id"
                              type="checkbox" id="{{item.id}}" [checked]="item.isSelected"/>
                              
                                  <label for="item.id"><img class="check-space"9  width="20" height="30" src="{{item.imagePath}}">{{item.amenitiesDescription}}</label>
                              
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Ground slots Step 3-->
                <div class="row">
                  <div class="col-md-4">
                    <label for="GroundSlots" class="col-xs-4 amenities-topspace">Add Ground Time Slots</label>
                  </div>
                  <table style="width:100%">
                    <tr>
                      <th>Slot Name</th>
                      <th>From Time</th>
                      <th>To Time</th>

                      <th><input type="button" class="btn  btn-primary" (click)="service.addSlot()" value="Add"></th>
                    </tr>

                    <tr *ngFor="let groundSlot of $any(service.store.get('slots')).controls; let i = index">
                      <ng-container [formGroup]="groundSlot">
                        <td>
                          <select formControlName="slotName" class="form-control">
                            <option *ngFor="let slotsValue of ListOfSlots" [value]="slotsValue.SlotName">
                              {{slotsValue.SlotName}} </option>
                          </select>
                        </td>
                        <td>
                          <input class="form-control" formControlName="fromTime" type="time" step="2">
                        </td>
                        <td>
                          <input class="form-control" formControlName="endTime" type="time" step="2">
                        </td>
                        <td></td>
                      </ng-container>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <footer class="example-step-navigation-bar">
              <div class="form-group" style="text-align:right">
                <button type="submit" class="btn  btn-primary" (click)="stepChanged(1)">
                  Add Ground
                </button>
              </div>
            </footer>

          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Add Ground Slot Pricing</ng-template>
            <div class="card">
              <div class="card-body">
                <div *ngFor="let slot of service.slots" [formGroup]="slot">
                  <div class="row">
                    <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                      <label for="fname">Slot Name</label><br>
                      <input type="text" name="Ground Name" formControlName="groundSlotName" class="form-control"
                        disabled>
                    </div>

                    <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                      <date-range-picker [options]="options" [parentFormGroup]="slot" [controlName]="'startDate'">
                      </date-range-picker>
                    </div>
                    <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                      <label for="fname">Price</label><br>
                      <input type="text" name="Pricing" formControlName="pricing" class="form-control" required>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="service.slots?.length">
                  <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12" style="margin: auto;">
                    <button class="btn m-1 btn-primary" (click)="addSlotDates(false, service.slots)">
                      {{ slot?.value?.isAdded ? 'Update' : 'Save' }}
                    </button>
                  </div>
                </div>
                <app-calender [events]="service.calenderEvents"></app-calender>
              </div>
            </div>

            <footer class="example-step-navigation-bar">
              <div class="form-group" style="text-align:right">
                <button type="submit" class="btn m-1 btn-primary" matStepperPrevious (click)="stepChanged(0)">Change few details</button>
                <button type="submit" class="btn  btn-primary" matStepperNext (click)="stepChanged(2)">
                  Add Ground Images
                </button>
              </div>
            </footer>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Upload ground Images</ng-template>
            <div class="col-md-4 ">
              <label for="GroundImages" class="col-xs-4 amenities-topspace">Add Ground Images</label>
            </div>

            <div class="row">
              <!-- <div class="col-sm-12" id="image">
                  <input name="file" id="exampleFile" type="file" [readonly]="isReadOnly"
                      class="form-control-file" (change)="handleFileInput($event.target.files)"
                      accept="image/*">
                  <img *ngIf="groundDetailForm.get('GroundImage').value" [src]="groundImageUrl"
                      height="42" width="42">
              </div> -->
              <div *ngIf="uploadError">
                <div [innerHTML]="uploadError" class="error"></div>
              </div>
              <div class="form-group">
                <div class="upload-image">
                  <div #image class="image-wrapper">
                    <img width="100px" *ngFor="let image of uploadedImages; let i = index" [src]="image.imagePath" style="padding: 10px;"/>
                  </div>
                  <div class="browse-btn">
                    <input type="file" name="cameraImg" id="cameraImg" multiple accept="image/*"
                      (change)="handleFileInput($event.target.files)" />
                    <div class="browse-image">
                      <img src="assets/images/camera.jpg" width="100px" style="padding: 10px;"/>
                      <p>Browse image</p>
                    </div>
                  </div>
                </div>
                <p *ngIf="groundImageUrl.length < 6">Please upload atleast 6 ground Images.</p>
              </div>
            </div>

            <footer class="example-step-navigation-bar">
              <div class="form-group" style="text-align:right">
                <button type="submit" class="btn m-1 btn-primary" matStepperPrevious (click)="stepChanged(activeStep - 1)">Back</button>
                <button type="submit" class="btn  btn-primary" matStepperNext (click)="stepChanged(activeStep + 1)">{{
                  fotterLablels && fotterLablels[activeStep] }}</button>
              </div>
            </footer>
          </mat-step>

          <mat-step>
            
            <ng-template matStepLabel>Ground Rules</ng-template>
            <ckeditor *ngIf="data" [editor]="Editor" [data]="data" (change)="onChange($event)"></ckeditor>
            <footer class="example-step-navigation-bar">
              <div class="form-group" style="text-align:right">
                <button type="submit" class="btn m-1 btn-primary" matStepperPrevious (click)="stepChanged(activeStep - 1)">Back</button>
                <button type="submit" class="btn  btn-primary" matStepperNext (click)="stepChanged(activeStep + 1)">{{
                  fotterLablels && fotterLablels[activeStep] }}</button>
              </div>
            </footer>
            
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>

    <!-- <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
          <div *ngFor="let item of amenitiesList">
            <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
               <input type="checkbox" >{{item.amenitiesDescription}}
            </div>
          </div>
          </div>

         </div>-->
  </div>
</div>

<jw-modal id="editDateSlot" #modal>
  <div class="card">
    <div class="card-body">
      <div [formGroup]="slottoUpdate" *ngIf="slottoUpdate">
        <div class="row">
          <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
            <label for="fname">Slot Name</label><br>
            <input type="text" name="Ground Name" formControlName="groundSlotName" class="form-control"
              disabled>
          </div>

          <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
            <date-range-picker [options]="options" [parentFormGroup]="slottoUpdate" [controlName]="'startDate'">
            </date-range-picker>
          </div>
          <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
            <label for="fname">Price</label><br>
            <input type="text" name="Pricing" formControlName="pricing" class="form-control" required>
          </div>
        </div>
      </div>
        <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12">
          <button class="btn m-1 btn-primary" (click)="closeModal() && addSlotDates(false, [slottoUpdate])">
            Update
          </button>
        </div>
    </div>
  </div>
</jw-modal>